@import "custom";

.form-control {
  background-color: #F5F5F5;
  border: none;
  padding: 32px;
}

input {
  padding: 16px;
  width: 120px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  outline: none;
}

button.btn {
  border: none;
}

::placeholder {
  color: white;
}

.color-blue {
  color: white;
  background-color: #1E90FF;

}

.color-green {
  color: white;
  background-color: #66CDAA;
}

.color-red {
  color: white;
  background-color: #FF6347;
}.form-control {
   background-color: #F5F5F5;
   border: none;
   padding: 32px;
 }

input {
  padding: 16px;
  width: 120px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  outline: none;
}

button.btn {
  border: none;
}

::placeholder {
  color: white;
}

.color-blue {
  color: white;
  background-color: #1E90FF;

}

.color-green {
  color: white;
  background-color: #66CDAA;
}

.color-red {
  color: white;
  background-color: #FF6347;
}

.recipe-content {
  background-color: #F5F5F5;
  height: 200px;
  .name-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    .recipe-name {
      width: 210px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .time {
      font-weight: bold;
    }
  }
  .realisation {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
    .preparation {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

p.preparation.col-6 {
  padding-right: 0;
}
