@import "custom";

.form-control {
  background-color: #F5F5F5;
  border: none;
  padding: 32px;
}

input {
  padding: 16px;
  width: 120px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  outline: none;
}

button.btn {
  border: none;
}

.recipe {
  background-color: #DCDCDC;
  border-radius: 4px;
}

::placeholder {
  color: white;
}

.color-blue {
  color: white;
  background-color: #1E90FF;

}

.color-green {
  color: white;
  background-color: #66CDAA;
}

.color-red {
  color: white;
  background-color: #FF6347;
}